USE [AyPansiyon]
GO
/****** Object:  Table [dbo].[AdminGiris]    Script Date: 9.06.2024 23:35:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminGiris](
	[Kullanici] [varchar](50) NULL,
	[Sifre] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mesajlar]    Script Date: 9.06.2024 23:35:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mesajlar](
	[Mesajid] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [varchar](50) NULL,
	[Mesaj] [varchar](1500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MusteriEkle]    Script Date: 9.06.2024 23:35:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MusteriEkle](
	[Musteriid] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [varchar](20) NULL,
	[Soyadi] [varchar](20) NULL,
	[Cinsiyet] [varchar](5) NULL,
	[Telefon] [varchar](15) NULL,
	[Mail] [varchar](50) NULL,
	[TC] [varchar](11) NULL,
	[OdaNo] [varchar](5) NULL,
	[Ucret] [int] NULL,
	[GirisTarih] [smalldatetime] NULL,
	[CikisTarih] [smalldatetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oda101]    Script Date: 9.06.2024 23:35:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oda101](
	[adi] [varchar](50) NULL,
	[soyadi] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oda102]    Script Date: 9.06.2024 23:35:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oda102](
	[Adi] [varchar](50) NULL,
	[Soyadi] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oda103]    Script Date: 9.06.2024 23:35:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oda103](
	[Adi] [varchar](50) NULL,
	[Soyadi] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oda104]    Script Date: 9.06.2024 23:35:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oda104](
	[Adi] [varchar](50) NULL,
	[Soyadi] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oda105]    Script Date: 9.06.2024 23:35:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oda105](
	[Adi] [varchar](50) NULL,
	[Soyadi] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oda106]    Script Date: 9.06.2024 23:35:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oda106](
	[Adi] [varchar](50) NULL,
	[Soyadi] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oda107]    Script Date: 9.06.2024 23:35:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oda107](
	[Adi] [varchar](50) NULL,
	[Soyadi] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oda108]    Script Date: 9.06.2024 23:35:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oda108](
	[Adi] [varchar](50) NULL,
	[Soyadi] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oda109]    Script Date: 9.06.2024 23:35:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oda109](
	[Adi] [varchar](50) NULL,
	[Soyadi] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stoklar]    Script Date: 9.06.2024 23:35:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stoklar](
	[Gida] [int] NULL,
	[Icecek] [int] NULL,
	[Cerezler] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[AdminGiris] ([Kullanici], [Sifre]) VALUES (N'sa', N'123')
GO
SET IDENTITY_INSERT [dbo].[Mesajlar] ON 

INSERT [dbo].[Mesajlar] ([Mesajid], [AdSoyad], [Mesaj]) VALUES (1, N'Mert Günok', N'Hizmet İçin Teşekürler.Fakat Tuvaletler Temiz Değildi.')
INSERT [dbo].[Mesajlar] ([Mesajid], [AdSoyad], [Mesaj]) VALUES (2, N'Burak Said Yöndemli', N'Proje iyidi.Yapması Keyifliydi.Herşey İçin Teşekürler...')
SET IDENTITY_INSERT [dbo].[Mesajlar] OFF
GO
SET IDENTITY_INSERT [dbo].[MusteriEkle] ON 

INSERT [dbo].[MusteriEkle] ([Musteriid], [Adi], [Soyadi], [Cinsiyet], [Telefon], [Mail], [TC], [OdaNo], [Ucret], [GirisTarih], [CikisTarih]) VALUES (5, N'Mert', N'Günok', N'Erkek', N'(222) 222-2222', N'asdasdasd@gmail.com', N'66666666666', N'103', 5500, CAST(N'2024-06-09T00:00:00' AS SmallDateTime), CAST(N'2024-06-21T00:00:00' AS SmallDateTime))
INSERT [dbo].[MusteriEkle] ([Musteriid], [Adi], [Soyadi], [Cinsiyet], [Telefon], [Mail], [TC], [OdaNo], [Ucret], [GirisTarih], [CikisTarih]) VALUES (2, N'Büşra', N'Okur', N'Kadın', N'(552) 233-3212', N'busra@gmail.com', N'17237648301', N'104', 5500, CAST(N'2024-06-09T00:00:00' AS SmallDateTime), CAST(N'2024-06-20T00:00:00' AS SmallDateTime))
INSERT [dbo].[MusteriEkle] ([Musteriid], [Adi], [Soyadi], [Cinsiyet], [Telefon], [Mail], [TC], [OdaNo], [Ucret], [GirisTarih], [CikisTarih]) VALUES (3, N'Baran Mert', N'Akdağ', N'Erkek', N'(445) 342-8721', N'asdas@gmail.com', N'37981230912', N'108', 8000, CAST(N'2024-06-09T00:00:00' AS SmallDateTime), CAST(N'2024-06-25T00:00:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[MusteriEkle] OFF
GO
INSERT [dbo].[Oda101] ([adi], [soyadi]) VALUES (N'Ayla', N'Çağlar')
GO
INSERT [dbo].[Oda102] ([Adi], [Soyadi]) VALUES (N'Ayşe', N'Hanım')
GO
INSERT [dbo].[Oda103] ([Adi], [Soyadi]) VALUES (N'Hakan', N'Sapancı')
GO
INSERT [dbo].[Oda104] ([Adi], [Soyadi]) VALUES (N'Büşra', N'Okur')
GO
INSERT [dbo].[Oda108] ([Adi], [Soyadi]) VALUES (N'Baran Mert', N'Akdağ')
GO
INSERT [dbo].[Stoklar] ([Gida], [Icecek], [Cerezler]) VALUES (100, 200, 50)
INSERT [dbo].[Stoklar] ([Gida], [Icecek], [Cerezler]) VALUES (450, 450, 80)
INSERT [dbo].[Stoklar] ([Gida], [Icecek], [Cerezler]) VALUES (200, 110, 50)
GO
ALTER TABLE [dbo].[MusteriEkle] ADD  CONSTRAINT [DF_MusteriEkle_GirisTarih]  DEFAULT (getdate()) FOR [GirisTarih]
GO
ALTER TABLE [dbo].[MusteriEkle] ADD  CONSTRAINT [DF_MusteriEkle_CikisTarih]  DEFAULT (getdate()) FOR [CikisTarih]
GO
